html, body {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: 'LiberationSerifRegular';
}
button {
    margin: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 2px;
    border-radius: 0px;



}
img {
    /*max-width:100%;*/
}
input {
    text-align: CENTER;
    border-radius:0px;
    border-width:2px;
    padding-left:0px;
    padding-right:0px;
}
#register {
    height:calc(50% - 40px);
    /*overflow:auto;*/
}
#items {
    height:calc(50% - 40px);
}
#addInv {
    height:calc(100% - 80px);
}
#inventoryTitle {
    text-align:center;
    padding:10px;
    font-weight:bold;
}
.centeredButton {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
.leftDivContainer {
   float:left;
   width: calc(20% - 10px);
   overflow:auto;
   padding:5px;
   height:calc(96% - 40px);
   position:absolute;
}
.rightDivContainer {
   float:right;
   width:18%;
   overflow:auto;
   padding:1%;
   height:calc(100% - 40px);
}
.leftDiv {
    min-height:10px;
    padding:5px;
    border-style:solid;
    border-width:thin;
}
#encountersDiv {
    min-height:10px;
    padding:5px;
    border-style:solid;
    border-width:thin;
}
#charWrapper {
    margin-left:40px;
}
#lore {
    height:100%;
    margin-left:40px;
}
.lorePage {
    height:90%;
    overflow:auto;
}
.loreIMG {
    max-height: calc(100% - 40px);
    max-width: 100%;
}
.loreTab {
    height:100%;
}
#loreTabs {
    height:10%
}
#loreText {
    height: 50%;
    width: 50%;
}
#loreFilePreview {
    max-width: 100%;
    max-height: 100%;
    }
#savedEncounters {
    float:right;
    padding:30px;
}
#addDiv {
    float:left;
    padding:30px;
}
#charDiv {
    float:left;
    padding:30px;
}

.selectedEncounter {
    background: cornflowerblue;
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
}
.selectedInit {
    background: cornflowerblue;
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
    width:88%;
}

.nonSelectedInit {
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
    width:88%;
}
.InitEntry {
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
    width:100%;
}

div.activeUnit {
    background: firebrick;
}

.nonSelected {
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
}
.unitListEntry {
    border-radius: 5px;
    padding: 3px;
    overflow: auto;
}
div.selected {
    background: cornflowerblue !important;
}

#activeInit {
    display: none;
    padding:7px;
}
.screenDiv {
    height:100%;
    margin:0px;
    width:100%;
    overflow:auto;
}

.tabsDiv {
    width:100%;
    height:40px;
    display:block;
    background:lightgrey;
}
.centerDiv {
    width:100%;
    height:calc(100% - 40px);
    display:block;
    overflow:auto;
}
#activeTabDiv {
    width: 80%;
    height:calc(100% - 40px);
    left: 20%;
    position: absolute;
    /*overflow:auto;*/
}
#initiativeDivContainer {
    overflow:auto;
}
#unitDivContainer {
    overflow:auto;
    height:50%;
}
.bottomDiv {
    height:20%;
    top:80%;
    position:absolute;
    width:80%;
    left:20%;
    overflow:auto;
    display:none;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.inventoryTable{
    margin:auto;
    table-layout: fixed;
    border-collapse: collapse;
    height:100%

}

.inventoryTable tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: calc(100% - 40px);
}

.inventoryTable thead tr {
   display: block;
}

.inventoryTable th, .inventoryTable td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

.connectedPlayers {
    width:200px;
    min-height:10px;
    margin: auto;
    padding:10px;
    border-style:solid;
    border-width:thin;
    text-align:center;
}

.connectedPlayersContainer {
    min-height:10px;
    margin: auto;
    text-align:center;
}
.promptDiv {
    width: 50%;
    left: 25%;
    position: absolute;
    text-align: center;
}
.chatContainerDiv {
    /*width:18%;
    margin-right:5px;
    height:60%;
    position:absolute;
    right:0%;*/
}
.chatText {
    width:100%;
    height:300px;
    overflow:auto;
    overflow-wrap: break-word;
    border-style:solid;
    border-width:thin;
}
.chatInput {
width:100%;
}
.tab {
    float: left;
    margin: 5px;
    padding: 5px;
    cursor: default;
    /*width: 60px;*/
    border: black;
    border-width: thin;
    border-style: solid;
}

#mapForm {
    margin-top: 50px;
    text-align:center;
    }

#mapWrapper {
    height: 100%;
}
#mapContainer {
    font-family: FreeMono, monospace;
    width:100%;
    height:90%;
    /*text-align:center;*/
    position:absolute;
    overflow:auto;
    background:lightgray;
}
.noScrollBar {
    scrollbar-width:none;
}
.noScrollBar::-webkit-scrollbar {
    display:none;
}
#bottomPopupButton {
    background: white;
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc(100% - 40px);
    border-radius: 4px 4px 0px 0px;
    left: 10px;
    z-index:5;
}
#leftPopButton {
    z-index:5;
    background: white;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
        border-radius: 0px 4px 4px 0px;
    left: 0px;
}
#mapText {
    display: inline-block;
    font-family: FreeMono, monospace;
}

#mapTools {

    height: 10%;
    width: 100%;
    bottom: 0px;
    position: absolute;
}
#mapGraphic {
    user-select: none;
    transform-origin: top left;
    transform: scale(1);
}
.tooltip {
  /*position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltiptext {
  margin-top: 40px;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.mapTile {
    float: left;
    cursor: crosshair;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    z-index:2
}

.wallTile {
    background: black;
}
.wallTileRight {
  background: linear-gradient(to right, transparent calc(80%), black calc(80%) calc(100%));
}
.wallTileLeft {
  background: linear-gradient(to left, transparent calc(80%), black calc(80%) calc(100%));
}
.wallTileTop {
  background: linear-gradient(to top, transparent calc(80%), black calc(80%) calc(100%));
}
.wallTileBottom {
  background: linear-gradient(to bottom, transparent calc(80%), black calc(80%) calc(100%));
}
.unseenTile {
    background: darkslategray !important;
}
.unseenTileTransparent {
    background: transparent;
    border:none;
}
.slightlyTransparent {
    opacity: 0.6;
}

.fullyTransparent {
    opacity: 0.0;
}

.stairTileLeft {
    background: repeating-linear-gradient(to left, transparent calc(10%), black calc(20%));
}
.stairTileRight {
    background: repeating-linear-gradient(to right, transparent calc(10%), black calc(20%));
}
.stairTileBottom {
    background: repeating-linear-gradient(to bottom, transparent calc(10%), black calc(20%));
}
.stairTileTop {
    background: repeating-linear-gradient(to top, transparent calc(10%), black calc(20%));
}
.stairDownTileRight {
    background: linear-gradient(10deg, rgba(0,0,0,0) 84%, transparent 12%), linear-gradient(-10deg, transparent 16%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to left, transparent calc(10%), black calc(20%))
}
.stairDownDownTileRight {
    background: linear-gradient(10deg, rgba(0,0,0,0) 69%, transparent 12%), linear-gradient(-10deg, transparent 31%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to left, transparent calc(10%), black calc(20%))
}
.stairDownTileLeft {
    background: linear-gradient(190deg, rgba(0,0,0,0) 84%, transparent 12%), linear-gradient(170deg, transparent 16%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to right, transparent calc(10%), black calc(20%))
}
.stairDownDownTileLeft {
    background: linear-gradient(190deg, rgba(0,0,0,0) 69%, transparent 12%), linear-gradient(170deg, transparent 31%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to right, transparent calc(10%), black calc(20%))
}
.stairDownTileTop {
    background: linear-gradient(280deg, rgba(0,0,0,0) 84%, transparent 12%), linear-gradient(260deg, transparent 16%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to bottom, transparent calc(10%), black calc(20%))
}
.stairDownDownTileTop {
    background: linear-gradient(280deg, rgba(0,0,0,0) 69%, transparent 12%), linear-gradient(260deg, transparent 31%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to bottom, transparent calc(10%), black calc(20%))
}
.stairDownTileBottom {
    background: linear-gradient(100deg, rgba(0,0,0,0) 84%, transparent 12%), linear-gradient(80deg, transparent 16%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to top, transparent calc(10%), black calc(20%))
}
.stairDownDownTileBottom {
    background: linear-gradient(100deg, rgba(0,0,0,0) 69%, transparent 12%), linear-gradient(80deg, transparent 31%, rgba(0,0,0,0) 12%), repeating-linear-gradient(to top, transparent calc(10%), black calc(20%))
}
.floorTile {
    background: transparent;
}

.floorTileA {
    background: linear-gradient(to bottom, transparent 30%, transparent 30% 70%, transparent 30%), linear-gradient(to left, transparent calc(30%), grey calc(30%) calc(70%), transparent calc(70%))
}
.floorTileB {
    background: linear-gradient(to left, transparent calc(30%), grey calc(30%) calc(70%), transparent calc(70%));
}
.floorTileC {
    background: linear-gradient(to bottom, transparent calc(30%), grey calc(30%) calc(70%), transparent calc(70%));
}
.floorTileD {
    background: linear-gradient(to left, rgba(0,0,0,0) calc(30%), black calc(30%) calc(70%), rgba(0,0,0,0) calc(70%)),
                linear-gradient(to bottom, transparent calc(40%), black calc(40%) calc(60%), transparent calc(60%));
}

.seen {
    background: gray;
}
.doorTileA {
    background: linear-gradient(to bottom, transparent calc(40%), black calc(40%) calc(60%), transparent calc(60%));
}
.doorTileB {
    background: linear-gradient(to left, transparent calc(40%), black calc(40%) calc(60%), transparent calc(60%));
}
.doorTileAOpen {
    background: linear-gradient(to bottom, transparent calc(40%), black calc(40%) calc(60%), transparent calc(60%));
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) calc(30%), transparent calc(30%) calc(70%), rgba(0,0,0,1) calc(70%)),
    linear-gradient(to top, rgba(0,0,0,1) calc(30%), transparent calc(30%) calc(70%), rgba(0,0,0,1) calc(70%));

}
.doorTileBOpen {
    background: linear-gradient(to left, transparent calc(40%), black calc(40%) calc(60%), transparent calc(60%));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) calc(30%), transparent calc(30%) calc(70%), rgba(0,0,0,1) calc(70%)),
    linear-gradient(to left, rgba(0,0,0,1) calc(30%), transparent calc(30%) calc(70%), rgba(0,0,0,1) calc(70%));
}
.doorTileALocked {
    background: linear-gradient(to top, transparent 40%, black 40% 60%, transparent 60%), linear-gradient(to left, transparent 30%, black 30% 70%, transparent 30%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) calc(30%), black calc(30%) calc(70%), rgba(0,0,0,0) calc(70%)), linear-gradient(to right, black calc(30%), transparent calc(30%) calc(70%), black calc(70%));
}
}
.doorTileBLocked {
    background: linear-gradient(to left, transparent 40%, black 40% 60%, transparent 60%), linear-gradient(to top, transparent 30%, black 30% 70%, transparent 30%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0) calc(30%), black calc(30%) calc(70%), rgba(0,0,0,0) calc(70%)), linear-gradient(to top, black calc(30%), transparent calc(30%) calc(70%), black calc(70%));
}
}

.doorTile {
      background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 5px 5px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

span.ft {
    font-size: .9em;
    margin-left:-12px;
    margin-right: 4px;
}
input.ft {
    padding-right:12px;
}

span.sq {
    font-size: .9em;
    margin-left:-16px;
    margin-right: 4px;
}
input.sq {
    padding-right:16px;
}

span.hp {
    font-size: .9em;
    margin-left:-18px;
    margin-right: 4px;
}
input.hp {
    padding-right:18px;
}

.skillName {
    float:left;
    width:160px;
    font-size:.8em;
    margin-top:4px;
}

.skillTotal {
    float:left;
    width:36px;
    margin:1px;
    height:20px;
}

.skillAbility {
    float:left;
    width:55px;
    text-align:center;
}

.skillInput {
    float:left;
    width:36px;
    margin:1px;
    height:20px;
    /*margin-right:5px;*/
}

.skillMod {
    float:left;
    width:36px;
    margin:1px;
    height:20px;
    /*margin-right:5px;*/
}

.skillPlus {
    float:left;
    width:22px;
    text-align:center;
}

.skillRanks {
    float:left;
    width:36px;
    margin:1px;
    height:20px;
    /*margin-right:5px;*/
}

.skillCheckbox {
    float:left;
    margin:6px;
    /*margin-right:5px;*/
}

.spellBlock {
    text-align:left;

}

.spellName {
    width:100%;
        border-top: thin solid;
    border-bottom: thin solid;
    padding-top:5px;
    padding-bottom:5px;
}