<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <meta charset="UTF-8">
  <!-- The landing page did not load the stylesheet at all, so the first thing
       anyone saw of MUDFinder was unstyled browser default. -->
  <link rel="stylesheet" href="static/css/mudfinder.css">
  <title>Create a new game</title>
</head>
<body class="landing">
  <div id="topDiv" class="formCard landingCard">
    <div class="sectionHeading">Create a New Game</div>
    <form action="javascript:createGame()">
      <label class="fieldLabel" for="gameName">Name this game</label>
      <input type="text" id="gameName">
    </form>
    <button onclick="createGame()">Create Game</button>
    <div class="sectionHeading">Or Load a Savegame</div>
    <form action="upload.html" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Load">
    </form>
  </div>
  <script src="static/js/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
  var socket;
  window.onload = function() {
    socket = io({transports: ['websocket'], upgrade: false});
    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('Websocket connected!');
        gmKey = Math.random().toString(36).substr(2);
    });
    socket.on('create_room', function(msg) {
        console.log(msg.room);
        room = msg.room;
        document.getElementById("topDiv").innerHTML = 'New session created!' +
          `<br> Users can use link: <a href="join.html?id=${msg.room}">this link!</a>`;
        if (typeof msg.url != undefined) {
          location.assign(msg.url);
        }
    });
  }
  function createGame() {
    console.log('Creating game...');
    socket.emit('create', {name: document.getElementById("gameName").value, gmKey: gmKey});
  }
  </script>
</body>
</html>
